*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #dfd0ff;

}
header{
    background-color:#dbcbfe;
    border: 0.001px solid grey;
    box-shadow: 0 0.1px 10px 0.3px grey;
    object-position: right;
}
nav li:hover{
    border-radius: 10px;
    box-shadow: 0 0.1px 10px 0.3px grey;
    transform: translateY(0.01px);
    background-color: #c1a6fd;
}
.up{
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
    text-align: left;
    width: 50%;
}
.look{
    padding: 20px;
    box-shadow: 0 0.1px 10px 0.3px grey;
    background-color: #d7d8d6; 
}

.butn{
    margin-left: 35px;
    padding: 10px;
    border: 1px solid #2563eb;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0.1px 5px 0.3px grey;
}
.butn:hover{
    background-color: #c1a6fd;
    box-shadow: 0 0.1px 10px 0.3px grey;
}

.info{
    margin-top: 20px;
    margin-left: 60px;
    display:grid;
    grid-template-columns: repeat(3,80px);
    grid-gap: 8px;

}
.client{
    box-shadow: 0 0 8px 0.2px grey;
    background-color: #dacbfa;
}
.client img{
    border: 2px solid #412f67;
    max-width: 70%;
    width:700px;
    height: auto;
    box-sizing: border-box;
    object-fit: contain;
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: 20px;
    margin-right: -40px;
    border-radius: 20px;
    box-shadow: 0 0 2px 0.1px grey;
}
.about h3{
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: left;
}
.about{
    padding: 20px;
    box-shadow: 0 0 8px 0.1px grey;
    border-radius: 20px;
    margin-top: 20px;
    width: 50%;
    text-align: left;
    line-height: 1.5;
    background-color: transparent;
    background-color: #fbfafc;
    margin-bottom: 20px;
}
.intrests{
    display: grid;
    grid-template-columns: repeat(2,230px);
    grid-gap: 10px;
}
.intrests div{
    border: 2px solid #412f67;
    box-shadow: 0 0 8px 0.2px grey;
    padding:10px;
    border-radius: 25px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #eae4f7;
    color: #01081a;
}
.client{
    display: flex;
}

.skills{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.boxes{
    padding: 20px;
    border:1px solid5 burlywood;
    border-radius: 30px;
    margin: 30px;
    box-shadow: 0 0 4px rgb(168, 167, 167);
}
.boxes h4{
    margin-left:40px ;
    margin-bottom:-15px;

}
.p{
    padding: 20px;
    margin: 20px;
    max-width: 80%;
    text-align: center;
}
.progress{
    margin-bottom: 10px;
}
.flexing{
    display: flex;
    align-items: center;
    gap: 20px;
}
.flexing div{
    margin-left: 20px;
    padding: 10px;
    border-radius: 18px;
    background-color: #dccff8;
    box-shadow: 0 0 3px 0.3px grey;
}
.flex2{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.flex2 div{
    padding: 10px;
    background-color: #c48878;
    color:#491401;
    border-radius: 15px;
    box-shadow: 0 0 3px 0.3px rgb(14, 3, 3);
}

.flex{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.flex div{
    padding: 10px;
    background-color: #87ca90;
    color:#013f03;
    border-radius: 15px;
    box-shadow: 0 0 3px 0.3px rgb(14, 3, 3);
}
h2{
    margin-left:30px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.sl1{
    margin: 30px;
    background-color: #c8998b;
    backface-visibility: 40%;
    box-shadow: 0 0 5px 0.2px #c488;
    border-radius: 100px;
    border-style: dotted;
}
.card{
    margin: 30px;
    padding: 10px;
    box-shadow: 0 0 5px 0.2px rgb(80, 64, 36);
}

.sl2{
    margin: 30px;
    background-color: whitesmoke;
    border-radius: 70px;
    padding: 40px;

}

.sl1{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.courses div{
    max-width: 50%;
    height: 50px;
    background-color: #d0c8aa;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    box-shadow: 0 0 7px 0.3px grey;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.lets_connect h4{
    text-decoration:underline;
}
.contact{
    text-align: center;
    align-items: center;
    max-width: 30%;
    margin-left: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0.1px 0.1px 5px 0.1px #491401;
    padding: 20px;
    border-radius: 40px;
    background-color: #f5f8c3;
}
.socials a{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    box-shadow: 0 0 3px grey;
    color: #01081a;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    border: 1px solid black;
    background-color: whitesmoke;
}

.socials a:hover{
    background-color: #fec4b4;
}

footer{
    background-color: black;
    color:#faf9f6
}
footer div{
    margin-top: 5px;
    text-align:center;
    font-size: small;
}
footer button{
    margin-top: 20px;
    margin-bottom: 15px;
    height: 30px;
    width: 30px;
    border:0.3px solid #f6f0df;
    border-radius: 10px;
    color:black;
    align-items: left;
    
}
.headup{
    border:2px solid #412f67;
    box-shadow: 0 0 8px 0.2px grey;
    padding:10px;
    border-radius: 25px;
    margin-top:70px;
    margin-left: 20px;
    margin-bottom: 40px;
    background-color: #c1afe7;
    color: #01081a;
    text-decoration: solid;
    box-sizing: border-box;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family:Georgia, 'Times New Roman', Times, serif;
}